@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecon.Feature.Structure
@using Sitecon.Foundation.SitecoreHelperExtensions
@model RenderingModel

<div class="container">
    <div class="row">
        <div class="col">
            @Html.Sitecore().DynamicPlaceholder(Templates.Placeholders.ColCenter.ToString())
        </div>
    </div>
</div>